# ==========================================
# PYTHON & VIRTUAL ENVIRONMENTS
# ==========================================
.venv/
venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.log
*.tmp

# ==========================================
# IDE & SYSTEM FILES
# ==========================================
.vscode/
.idea/
.DS_Store

# ==========================================
# DATA & DATASET FOLDERS
# ==========================================
data/input/*
!data/input/.gitkeep
data/output/*
!data/output/.gitkeep

dataset/datasetCOCO/
dataset/dataset_classification/
dataset/image/
dataset/videos/
dataset/*.zip
dataset/*.tar.gz

# ==========================================
# MODELS & WEIGHTS FOLDERS
# ==========================================
dataset/model/*
!dataset/model/.gitkeep
*.keras
*.h5
*.pth
*.pt
*.onnx
*.tflite
*.ckpt
*.pb
*.weights

# ==========================================
# DEMO & MEDIA FILES
# ==========================================
demo/*.mp4
demo/*.avi
demo/*.mov
demo/*.mkv
demo/bukan-area/
*.mp4
*.avi
*.mov
*.mkv